.contenedor{
    display: flex; 
    justify-content: center;
    align-items: center;
   

}

.imagen{
    width: 140px;
    height: 140px;
   margin-bottom: 20px;
}

.imagen2{
    width: 140px;
    height: 140px;
    margin-bottom: 20px;
}